<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://queuetotable20200707200830.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4f3af34f-3271-4155-8a97-058d0e657304/resourceGroups/KubernetesGroup/providers/Microsoft.Web/sites/QueueToTable20200707200830</ResourceId>
    <ContainerResourceId>/subscriptions/4f3af34f-3271-4155-8a97-058d0e657304/resourcegroups/FormApp/providers/Microsoft.ContainerRegistry/registries/QueueToTable20200707201012</ContainerResourceId>
    <ContainerResourceName>QueueToTable20200707201012</ContainerResourceName>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>queuetotable20200707201012.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>